<div class="container-fluid">
<div class="row">
  <div class="hero">
  </div>
</div>
</div>

<div class="row">
  <div class="col-3">
    Content
  </div>
  <div class="col-3">
    Content
  </div>
  <div class="col-3">
    Content
  </div>
  <div class="col-3">
    Content
  </div>
</div>
