.footer-section {
  background-color: #1b2126;
  color: #fff;
  font-size: 16px !important;
  padding-top: 2vh !important;
  min-height: 25vh;
  padding-bottom: 5vh;
}

.footer-container {
  max-width: 65vw;
}

.footer-header {
  font-size: 0.9em;
  padding-top: 1vh;
  text-align: left;
  width: 85% !important;
  color: #fff;
}

.footer-body {
  font-size: 0.8em;
}

.footer-body ul {
  li {
    text-align: left;
    a {
      display: block;
      padding: 10px 15px 10px 0;
      color: #d2d2d2;
      &:hover {
        color: #fff;
        background-color: rgba(#000, 0.5);
        border-radius: 10px;
        text-decoration: none;
      }
    }
  }
}

.power-social-row {
  .footer-header {
    text-align: center;
  }
}

.copy-col {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 1vw;
  flex-direction: column;
}
