.footer-section {
  background-color: #333;
  color: #fff;
  font-size: 16px !important;
  padding-top: 2vh !important;
  min-height: 25vh;
}

.footer-header {
  font-size: 0.9em;
  padding-top: 1vh;
  text-align: center;
  width: 85% !important;
}

.footer-body {
  padding: 10px;
  width: 75% !important;
  font-size: 0.8em;
}

.footer-body ul {
  li {
    padding: 10px 15px;
    text-align: left;
    a {
      padding: 10px 15px;
      color: #d2d2d2;
      &:hover {
        color: #fff;
        background-color: rgba(#666, 1);
        border-radius: 10px;
        text-decoration: none;
      }
    }
  }
}
