@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

body {
  font-family: "Lato", sans-serif;
  max-width: 1920px;
  width: 100%;
  font-size: 16px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
