nav.nav {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #333;
  a {
    color: #fff;
    padding: 15px 20px;
    border-radius: 7px;
    text-decoration: none;
    &:hover {
      color: #fff;
      background-color: #666;
    }
  }
}

.nav-left {
  display: flex;
  justify-content: center;
  width: 25%;
  text-align: left;
}

.nav-mid {
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  text-align: right;
  & .nav-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

form.button_to {
  margin: 0;
  padding: 0;
}

.dropdown-menu {
}

.nav .dropdown-menu a.dropdown-item {
  border: none;
  color: #000;
  padding: 10px 10px;
}

.dropdown-divider {
}

.navbar {
  display: none;
}

.modal {
  background: rgba(#000, 0.5);
  .nav {
    a {
      color: #fff;
      padding: 15px 20px;
      border-radius: 7px;
      text-decoration: none;
      background-color: #333;
      &:hover {
        color: #fff;
        background-color: #666;
      }
    }
  }
}

.modal-title {
  width: 100% !important;
}

// Navbar Collapse

.navbar-toggler-icon i {
  color: white;
}

@include media-breakpoint-down(md) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav.nav {
    height: auto;
  }
  .nav-left,
  .nav-mid,
  .nav-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
}
@include media-breakpoint-down(lg) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav.nav {
    height: auto;
  }
  .nav-left,
  .nav-mid,
  .nav-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
}
