<div class="footer-section">
	<div class=" full-footer">
		<div class="row">
			<div class="col-2 footer-col">
				<div class="footer-list-header">
					FPS Games
				</div>
				<ul class="footer-list">

				</ul>
			</div>
			<div class="col-2 footer-col">
				<div class="footer-list-header">
					MOBA Games
				</div>
				<ul class="footer-list">

				</ul>
			</div>
			<div class="col-2 footer-col">
				<div class="footer-list-header">
					Hero Games
				</div>
				<ul class="footer-list">

				</ul>
			</div>
			<div class="col-2 footer-col">
				<div class="footer-list-header">
					More Games
				</div>
				<ul class="footer-list">

				</ul>
			</div>
			<div class="col-2 footer-col">
				<div class="footer-list-header">
					Information
				</div>
				<ul class="footer-list">
					<li class="footer-list-item">Reddit</li>
					<li class="footer-list-item">Pricing</li>
				</ul>
			</div>
			<div class="col-2 footer-col">
				<div class="footer-list-header">
					More
				</div>
				<ul class="footer-list">
					<li class="footer-list-item">Schedule</li>
					<li class="footer-list-item">Find Teammates</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-2 footer-col">
				<div class="footer-list-header">
					Pages
				</div>
				<ul class="footer-list">
					<li class="footer-list-item">History</li>
					<li class="footer-list-item">All Stats</li>
				</ul>
			</div>
			<div class="col-2 footer-col">
				<div class="footer-list-header">
					Site Information
				</div>
				<ul class="footer-list">
					<li class="footer-list-item">About Us</li>
					<li class="footer-list-item">Awards and Prestige</li>
				</ul>
			</div>
			<div class="col-2"></div>
			<div class="col-2"></div>
			<div class="col-2 footer-col">
				<div class="footer-list-header">
					Support
				</div>
				<ul class="footer-list">
					<li class="footer-list-item">Live Support</li>
					<li class="footer-list-item">FAQ</li>
				</ul>
			</div>
			<div class="col-2 footer-col">
				<div class="footer-list-header">
					Copyright
				</div>
				<ul class="footer-list">
					<li class="footer-list-item">&copy;  MythicGaming.com</li>
				</ul>
			</div>
			<div class="col-2">

			</div>
		</div>
	</div>
</div>
