<div class="container-fluid footer-section">
	<div class="row">
		<div class="col-3"></div>
		<div class="col-3"></div>
		<div class="col-3"></div>
		<div class="col-3"></div>
	</div>
	<div class="row">
		<div class="col-3"></div>
		<div class="col-3"></div>
		<div class="col-3"></div>
		<div class="col-3"></div>
	</div>
	<div class="row">
		<div class="col-3"></div>
		<div class="col-3"></div>
		<div class="col-3"></div>
		<div class="col-3"></div>
	</div>
</div>
