// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero {
  background-image: url("background3.jpg");
  min-height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: none;
  color: gray;
  &:hover {
    color: #fff;
  }
}

.car-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upcoming-tourn-box {
  background-color: rgba(#000, 0.5);
  color: #000;
}

#carousel {
  border-radius: 15px;
}

.car-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000, 0.5);
  padding: 6vh 0;
  height: 90%;
  width: 90%;
}
.accordion {
}

.car-list {
  background: none;
  color: gray;
  &:hover {
    color: #fff;
  }
}

.list-group,
.list-group-item,
.list-group-item.active {
  background-color: rgba(#000, 0.5);
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.form-signin input {
  height: 50%;
  width: 50%;
  margin: 0 auto;
}
.link-row {
  font-size: 2rem;
  color: #fff;
}

.hero-2 {
  background-color: #333;
}

.fa-link {
  color: gray;
  padding: 25px;
  &:hover {
    color: white;
  }
}
