// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Hero
.hero {
  background-image: url("background3.jpg");
  min-height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero .row {
  background-color: rgba(#000, 0.4);
}

.left-hero-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid-hero-col {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  min-height: 30vh;
  min-width: 100%;
  padding: 5vh 0vw;
  background-color: rgba(#000, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#carousel-hero {
}

.carousel-item {
}

.carousel-item img {
  height: 50vh;
}

.right-hero-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

// LOG IN && Social Media Links
