// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Hero
.main-hero {
  background-image: url("background3.jpg");
  min-height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1920px;
}

.main-hero .row {
  background-color: rgba(#000, 0.15);
}

// left hero
.left-hero-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

select.form-control {
  background-color: rgba(#0066cc, 0.25);
  border: none;
  &:focus {
    background-color: none;
  }
}

.card-1 {
  min-height: 60vh;
  width: 90% !important;
  background-color: rgba(#000, 0.5);
  color: #fff;
  border-radius: 5px;
  flex-grow: 1 0;
}

.card {
  background-color: transparent !important;
  height: auto !important;
}
#list-group-hero {
}
#list-group-hero li.list-group-item {
  background-color: rgba(#0066cc, 0.5);
  margin: 1vh 1vw;
  border-radius: 5px;
  color: #d2d2d2;
  padding: none;
  &:hover {
    color: #fff;
  }
  a {
    color: #d2d2d2;
    text-decoration: none;
    padding: 10px 15px;
    &:hover {
      text-decoration: none;
      background-color: transparent;
      color: #fff;
      cursor: pointer;
    }
  }
}

.accordion-left-hero {
  .card-header {
    padding: 0;
    border-bottom: none;
  }
  .card-body {
    padding: 0;
  }
  .accordion-header {
    text-align: center;
    padding: 10px 10px;
    font-weight: bold;
  }
  .btn,
  .btn-link {
    padding: 12px;
    margin: 0px;
    background-color: transparent !important;
    text-decoration: none;
    color: #0066cc;
    &:hover {
      color: #0066cc;
      text-decoration: none;
    }
  }
}

// mid hero
.mid-hero-col {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  min-height: 30vh;
  min-width: 100%;
  padding: 5vh 0vw;
  background-color: rgba(#000, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-indicators {
  li {
    height: 0.5vh;
  }
}

#carousel-hero {
}

.carousel-item {
}

.carousel-item img {
  height: 50vh;
}
.carousel-item video {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  background-color: rgba(#000, 0.5);
  padding: 2.5vh 4vw;
}

// right hero
.right-hero-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-hero {
  height: 60vh !important;
  width: 90% !important;
  background-color: rgba(#000, 0.5);
  color: #fff;
  border-radius: 5px;
}

.right-hero-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  button {
    height: 100%;
    width: 100%;
  }
  .slider-left {
    width: 30%;
  }
  .slider-mid {
    width: 40%;
  }
  .slider-right {
    width: 30%;
  }
}

.right-hero-header {
}

.right-hero-body {
}

.right-hero-links {
}

.right-hero .card {
  background-color: transparent !important;
}

.right-hero .list-group {
  background-color: transparent !important;
  .list-group-item {
    background-color: transparent !important;
  }
}

// LOG IN && Social Media Links

// .main-profile
.main-profile {
}
.main-profile-header {
  .header-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .log-in-header {
      width: 10rem;
      a {
        text-decoration: none;
      }
    }
    .sign-up-header {
      width: 10rem;
      a {
        text-decoration: none;
      }
    }
  }
}
.main-profile-body {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-form-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-profile-body .form-group .text-field,
.main-profile-body .form-group .password-field {
  width: 20rem;
}

.media-log-in {
  display: flex;
  flex-direction: column;
  .media-log-in-link {
    width: 20rem;
    background-color: rgba(#fff, 0.15);
    padding: 0.5rem;
    margin: 0.75rem 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #0066cc;
    }
  }
}

.other-links {
  margin: 1rem 0;
  a {
    padding: 1rem;
    padding-left: 0;
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #0066cc;
    }
  }
}

.form-group-divider {
  text-align: center;
}

.main-link-col {
  .row {
    margin: 2.5rem 0;
  }
}

a.main-profile-link {
  padding: 1.5rem 2.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &:hover {
    background-color: rgba(#fff, 0.25);
  }
}

// .main-games
.main-games {
  color: #fff;
}

.main-games-row {
}

.main-games-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.header-title {
}

.fps-games-header {
  background-color: #6600ff;
}
.moba-games-header {
  background-color: #ff8533;
}
.hero-games-header {
  background-color: #0066cc;
}
.more-games-header {
  background-color: #00b386;
}

.join-tourn-header {
  display: flex;
  justify-content: center;
  align-items: center !important;
  background-color: #333;
  a {
    color: #fff;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    background-color: rgba(#fff, 0.25);
  }
  i {
    font-size: 2rem !important;
  }
}

.quick-join-header {
  height: 100%;
  width: 100%;
  .btn-group {
    height: 100%;
    width: 100%;
    border-radius: none;
    .btn {
      background-color: transparent;
      border: none transparent;
      border-radius: none;
      &:hover {
        background-color: rgba(#fff, 0.25);
      }
    }
  }
  .dropdown-menu-right {
    text-align: right;
  }
}

.main-games-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2rem 0;
  background-color: #1b2126;
  min-height: 60vh;
}

.main-games-col {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 15rem;
    width: 20rem;
    border: 1rem solid #333;
    border-radius: 5px;
    &:hover {
      border: 1rem solid rgba(#fff, 0.25);
    }
  }
}

.main-games-boundary {
  padding: 1.5rem 0;
}

.main-games-divider {
  background-color: #333 !important;
}

// .main-basics
.main-basics {
  background-image: url("sky2.jpg");
  background-position: center center;
  background-size: 100% 100%;
  color: #fff;
  background: #1b2126;
}

.main-basics-header {
}

.main-basics-content {
}

.basics-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .nav.nav-pills a {
    color: #339966;
    &:hover {
      color: #000;
    }
  }
}

.basics-header {
  padding: 1rem;
  border: 0.5rem solid rgba(#fff, 0.5);
  text-align: center;
  font-size: 1.5rem;
}

.basics-body {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #d2d2d2;
  border-radius: 8px;
  ul.basics-list {
    list-style-type: disc !important;
    li {
      display: list-item;
      color: #000;
      line-height: 2;
      margin-left: 1.5rem;
      &:hover {
      }
    }
  }
}

.basics-links {
  padding: 1rem;
  margin-left: 1.5rem;
  a {
    padding: 0.75rem 1.5rem 0.75rem 0;
  }
}

.basics-col {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
  .main-games-col {
    img {
      height: 12rem;
      width: 16rem;
    }
  }
}

@include media-breakpoint-down(sm) {
}
